<footer class="row bg-secondary text-white">
    <div class="col-12">
        <div class="d-flex flex-row justify-content-start">
            <div class="summary">
                <p class="title">
                    N. Glaudes - Généalogie
                </p>
                <p>
                    Remonter le temps et découvrir l'histoire de votre famille.<br />
                    Une lecture de votre passé pour éclairer votre histoire.
                </p>
            </div>
            <div class="content d-flex flex-row justify-content-around">
                
                <a href="#prestations">Prestations</a>
                <a href="#obligations">Obligations</a>
                <a href="#tarifs">Tarifs</a>
            </div>
        </div>
        
    </div>
</footer>