<div class="row">
  <div class="col-12 pl-5 intro">
    <h1>
      Généalogie<br />
      Familiale
    </h1>

    <p class="subtitle font-italic font-weight-bold">Le passé, c'est la lampe qui éclaire l'avenir</p>

    <p class="mt-3 text font-italic">
      Je vous propose de remonter le temps et de découvrir, au travers d'actes de naissance, mariages, décès, l'histoire
      de votre famille, celles et ceux qui ont fait de vous la personne que vous êtes.
    </p>
    <p class="text font-italic">
      Une lecture du passé, pour imaginer qu'elles furent leurs vies.
    </p>

    <div class="mt-4 text-center">
      <button class="btn btn-light font-weight-bold">Prendre contact</button>
    </div>
  </div>
</div>

<div id="prestations">

  <div class="row">
    <div class="col-12">
      <h2 class="mt-5 text-center text-uppercase text-primary">Prestations</h2>
    </div>
  </div>

  <p class="col-12 offset-md-2 col-md-8 text-center">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis expedita numquam distinctio aspernatur delectus
    fuga impedit repellat cumque excepturi, eius accusantium error vitae nam? Aspernatur error optio excepturi quod
    voluptates?
  </p>

  <div class="d-flex flex-row flex-wrap justify-content-around">

    <div class="card bg-secondary border-0 rounded-0">
      <img src="../../../assets/imgs/bg_ascendance.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Ascendance</h5>
        <p class="card-text">
          Elle remonte le temps et commence avec vous.
        </p>
      </div>
    </div>

    <div class="card bg-secondary border-0 rounded-0">
      <img src="../../../assets/imgs/bg_agnatique.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Agnatique - Cognatique</h5>
        <p class="card-text">
          Filiation en ligne directe, de père en fils, de mère en fille.
        </p>
      </div>
    </div>

    <div class="card bg-secondary border-0 rounded-0">
      <img src="../../../assets/imgs/bg_descendance.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Descendance</h5>
        <p class="card-text">
          A partir d'un de vos ancètres connus le plus éloigné.
        </p>
      </div>
    </div>
  </div>

  <div class="col-12 mt-5 mb-5 text-center">

    <button type="button" class="btn btn-secondary pt-2 pb-2 pr-5 pl-5 text-uppercase font-weight-bold">En savoir
      +</button>

  </div>

</div>

<div id="obligations" class="row">

  <div class="col-12 col-md-6">
    <img src="../../../assets/imgs/bg_obligations.jpg" class="img-fluid" />
  </div>
  <div class="col-12 col-md-6 d-flex flex-row justify-content-center align-items-center bg-secondary">
    <div class="content">
      <h2 class="mb-3 text-white">Les obligations</h2>
      <p class="lead font-weight-bold text-white">Le généalogiste professionnel est tenu au secret professionnel et au respect de la vie privé (article 9 et
        suivant du code civil ; article 378 du code Pénal).</p>

        <button
          class="btn btn-primary mt-5 pt-2 pb-2 pr-5 pl-5 text-uppercase font-weight-bold"
          [routerLink]="['obligations']">En savoir +</button>

    </div>
  </div>

</div>

<div id="recherches" class="row">

  <div class="col-12">
    <h2 class="mt-5 text-center text-uppercase text-primary">Le résultat des recherches</h2>

    <div class="mt-5 d-flex flex-row justify-content-around">
      <div class="card bg-secondary border-0 rounded-0">
        <img src="../../../assets/imgs/bg_livre.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Livre<br />généalogique</h5>
          <p class="card-text">
            Un descriptif de chacun de vos aïeux.
          </p>
        </div>
      </div>
      <div class="card bg-secondary border-0 rounded-0">
        <img src="../../../assets/imgs/bg_arbre.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Arbre<br />généalogique</h5>
          <p class="card-text">
            Un poster à afficher.
          </p>
        </div>
      </div>
    </div>
  </div>

</div>

<div id="tarifs" class="row">
  <div class="col-12 title">
    <h2 class="mt-5">Les<br />Tarifs</h2>
  </div>
</div>

<div id="tarifs-content" class="d-flex flex-row justify-content-around">
    <div class="card bg-secondary border-0 rounded-0">
        <img src="../../../assets/imgs/bg_ascendance.jpg" class="card-img-top" alt="">
        <div class="card-body">
            <h5 class="card-title">Ascendance</h5>
            <ul class="list-unstyled">
                <li>4 générations : 320 €</li>
                <li>5 générations : 480 €</li>
                <li>6 générations : 800 €</li>
            </ul>
        </div>
    </div>
    <div class="card bg-secondary border-0 rounded-0">
        <img src="../../../assets/imgs/bg_agnatique.jpg" class="card-img-top" alt="">
        <div class="card-body">
            <h5 class="card-title">Agnostique - Cognatique</h5>
            <ul class="list-unstyled">
                <li>4 générations : 140 €</li>
                <li>5 générations : 180 €</li>
                <li>6 générations : 220 €</li>
            </ul>
        </div>
    </div>
    <div class="card bg-secondary border-0 rounded-0">
        <img src="../../../assets/imgs/bg_descendance.jpg" class="card-img-top" alt="">
        <div class="card-body">
            <h5 class="card-title">Descendance</h5>
            <ul class="list-unstyled">
                <li>4 générations : 460 €</li>
                <li>5 générations : 660 €</li>
                <li>6 générations : 1220 €</li>
            </ul>
        </div>
    </div>
</div>

<div id="contact" class="row bg-primary text-white">
  <div class="col-12 d-flex flex-column justify-content-center align-items-center">
    <h2 class="mt-5">Contact</h2>
    <p class="text-center p-3">
      Un texte pour inciter au contact.
    </p>

    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Saisissez votre e-mail"
        (keyup)="onChangeEmail($event)"
        [(ngModel)]="email" />
      <div class="input-group-append">
        <button class="btn btn-secondary" type="button" id="button-addon2"
            [disabled]="!validEmail"
            (click)="onSendEmail($event)">Envoyer</button>
      </div>
    </div>
  </div>
</div>